div{
  border: 1px solid red !important;
  /* cursor: crosshair;
  cursor: zoom-in;
  /* cursor: auto/all-scroll/cell/  cursor:
  cursor: e-resize;
  cursor: wait;
  cursor: zoom-in;
   col-resize help not-allowe pointer progress ; */

}

div{
  border: 1px solid green;
}